.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e6f7ff;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #333333;
}

.moviesContainer {
    width: 50%;
    margin-top: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    background-color: #ffffff;
}

.moviesTitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333333;
}

.moviesList {
    list-style-type: none;
    padding: 0;
}

.movieItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    color: #000000;
}

.movieForm {
    display: flex;
    margin-top: 1rem;
}

.movieInput {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 1rem;
    color: #000000;
}

.button {
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.button:active {
    background-color: #3e8e41;
}
